<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Tech Thoughts</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<header>
    <h1>Super Techy Blog</h1>
    <nav class="nav-bar">
        <ul>
            {{#if loggedIn}}
            <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
            <li class="li-inline nav-item"><a href="/home">Home</a></li>
            <li class="li-inline nav-item"><a href="/logout">Logout</a></li>
            {{#else}}
            <li class="li-inline nav-item"><a href="/home">Home</a></li>
            <li class="li-inline nav-item"><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

<div>
    {{{ body }}}
</div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</html>