<section id="login-section" class="align-items-center">
  <div class="container justify-content-center text-white">
    <form class="flex-column justify-content-center align-items-center">
      <h1 class="login">Hello! Please Log In</h1>
      <div class="form">
        <input
          type="email"
          class="email-input"
          id="email"
          placeholder="Your Email Here"
        />
        <label class="text-dark">Email Address</label>
      </div>
      <div class="form-password">
        <input
          type="password"
          id="password"
          placeholder="Password Here"
        />
        <label class="text-dark">Password</label>
      </div>

      <button class="text-white" type="submit" id="login-btn">Log in</button>
      <h5 class="">Join Us!</h5>
      <a href="/signup"  class="text-white">Sign Up</a>
    </form>
  </div>
  <script src="/js/login.js"></script>
</section>